<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="testRailUrl" value="636748108:AAHuOzbAIThUhLUEqdJYySJoSBguCKfvBew"/>
    <add key="user" value="rx755wkoachlfuizmrucouswdib3fh7t"/>
    <add key="password" value="pa95tstc9qi1c79exdyylx37wiincovn"/>
  </appSettings>
</configuration>